Repository YankevinPlacali/Ambacam2018, pull requests merged in 2018-11, with the labels that each got.

#98 94-implement-the-interfaces-for-motifsuppression-frontend
  frontend/src/app/admin/admin-routing/admin-routing.module.ts
  frontend/src/app/admin/admin.module.ts
  frontend/src/app/admin/components/admin-content/admin-motif-suppression-form/admin-motif-suppression-form.component.css
  frontend/src/app/admin/components/admin-content/admin-motif-suppression-form/admin-motif-suppression-form.component.html
  frontend/src/app/admin/components/admin-content/admin-motif-suppression-form/admin-motif-suppression-form.component.spec.ts
  frontend/src/app/admin/components/admin-content/admin-motif-suppression-form/admin-motif-suppression-form.component.ts
  frontend/src/app/admin/components/admin-content/admin-motif-suppression/admin-motif-suppression.component.css
  frontend/src/app/admin/components/admin-content/admin-motif-suppression/admin-motif-suppression.component.html
  frontend/src/app/admin/components/admin-content/admin-motif-suppression/admin-motif-suppression.component.spec.ts
  frontend/src/app/admin/components/admin-content/admin-motif-suppression/admin-motif-suppression.component.ts
  frontend/src/app/admin/components/page-elements/admin-left-side/admin-left-side.component.html
  frontend/src/app/admin/models/motif-suppression/motifSuppression.ts
  frontend/src/app/admin/services/motif-suppression/motif-suppression.service.ts
  frontend/src/app/admin/services/motif-suppression/motif.service.spec.ts
  frontend/src/app/admin/utils/object2Motif.ts
  frontend/src/app/appConstant.ts
Labels: review pending

#113 #72 implement-requete
  .gitignore
  .idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/admin-routing/admin-routing.module.ts
  frontend/src/app/admin/admin.module.ts
  frontend/src/app/admin/components/admin-content/admin-requerants-form/admin-requerants-form.component.html
  frontend/src/app/admin/components/admin-content/admin-requerants-form/admin-requerants-form.component.ts
  frontend/src/app/admin/components/admin-content/admin-requerants/admin-requerants.component.ts
  frontend/src/app/admin/components/admin-content/admin-requetes-form/admin-requetes-form.component.css
  frontend/src/app/admin/components/admin-content/admin-requetes-form/admin-requetes-form.component.html
  frontend/src/app/admin/components/admin-content/admin-requetes-form/admin-requetes-form.component.spec.ts
  frontend/src/app/admin/components/admin-content/admin-requetes-form/admin-requetes-form.component.ts
  frontend/src/app/admin/components/admin-content/admin-requetes/admin-requetes.component.css
  frontend/src/app/admin/components/admin-content/admin-requetes/admin-requetes.component.html
  frontend/src/app/admin/components/admin-content/admin-requetes/admin-requetes.component.spec.ts
  frontend/src/app/admin/components/admin-content/admin-requetes/admin-requetes.component.ts
  frontend/src/app/admin/components/page-elements/admin-left-side/admin-left-side.component.html
  frontend/src/app/admin/models/requete/requete.ts
  frontend/src/app/admin/models/requete/role.ts
  frontend/src/app/admin/services/requetes/requete.service.spec.ts
  frontend/src/app/admin/services/requetes/requete.service.ts
  frontend/src/app/admin/utils/object2Requete.ts
  frontend/src/app/appConstant.ts
Labels: Frontend

#117 #110 Implement search and pagination for Requerant
  frontend/src/app/admin/admin.module.ts
  frontend/src/app/admin/components/admin-content/admin-actions/admin-actions.component.html
  frontend/src/app/admin/components/admin-content/admin-autorites/admin-autorites.component.html
  frontend/src/app/admin/components/admin-content/admin-motif-suppression/admin-motif-suppression.component.html
  frontend/src/app/admin/components/admin-content/admin-operateurs/admin-operateurs.component.html
  frontend/src/app/admin/components/admin-content/admin-operateurs/admin-operateurs.component.html~Stashed changes
  frontend/src/app/admin/components/admin-content/admin-pays/admin-pays.component.html
  frontend/src/app/admin/components/admin-content/admin-requerants/admin-requerants.component.html
  frontend/src/app/admin/components/admin-content/admin-requerants/admin-requerants.component.ts
  frontend/src/app/admin/components/admin-content/admin-roles/admin-roles.component.html
  frontend/src/app/admin/components/admin-content/admin-statuts/admin-statuts.component.html
  frontend/src/app/admin/components/admin-content/admin-type-requetes/admin-type-requetes.component.html
  frontend/src/app/admin/models/page.ts
  frontend/src/app/admin/models/requerant/requerantCriteria.ts
  frontend/src/app/admin/models/requerant/requerantSearchResult.ts
  frontend/src/app/admin/models/searchCriteria.ts
  frontend/src/app/admin/models/searchResultBase.ts
  frontend/src/app/admin/services/requerants/requerant.service.ts
  frontend/src/app/admin/utils/object2Requerant.ts
  frontend/src/app/appConstant.ts
  frontend/src/app/components/pagination/pagination.component.css
  frontend/src/app/components/pagination/pagination.component.html
  frontend/src/app/components/pagination/pagination.component.spec.ts
  frontend/src/app/components/pagination/pagination.component.ts
  frontend/src/styles.css
Labels: Frontend, review pending

#128 #127 Implement endpoint to list requetes of a single requete groupe
  backend/src/main/java/com/ambacam/rest/ApiConstants.java
  backend/src/main/java/com/ambacam/rest/operateurs/requetegroupes/requetes/GroupeRequeteRequetesResource.java
  backend/src/main/java/com/ambacam/service/RequeteService.java
  backend/src/test/java/com/ambacam/rest/operateurs/requetegroupes/requetes/GroupeRequeteRequetesResourceIT.java
Labels: doing
